.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url('/public/S_L.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  transition: background 0.3s ease-in-out;
}

.dark-mode .home-container {
  background-image: url('/public/S_L_D.jpeg'); 
}

.home-container h2 {
  font-size: 3rem;
  font-weight: bold;
  color: #000000;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  transition: color 0.3s ease-in-out;
}

.dark-mode .home-container h2 {
  color: #ffffff;
}

.home-container p {
  font-size: 1.5rem;
  color: #000000;
  margin-bottom: 40px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  transition: color 0.3s ease-in-out;
}


.dark-mode .home-container p {
  color: #d4d4d4;
}

.auth-buttons {
  display: flex;
  gap: 20px;
}

.auth-btn {
  padding: 15px 30px;
  font-size: 1.2rem;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  background-color: #9c27b0;
  color: white;
  transition: all 0.3s ease;
}

.auth-btn:hover {
  background-color: #7b1fa2;
  transform: scale(1.05);
}

.dark-mode .auth-btn {
  background-color: #6a1b9a;
}

.dark-mode .auth-btn:hover {
  background-color: #4a148c;
}

.dark-mode-toggle {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: white;
  transition: background 0.3s ease-in-out;
}

.dark-mode .dark-mode-toggle {
  background-color: #ffffff;
  color: #000000;
}

.dark-mode-toggle:hover {
  background-color: #555;
}

.dark-mode .dark-mode-toggle:hover {
  background-color: #e0e0e0;
}
