/* Login Page */
.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url('/public/BG.png');  /* Background image added */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  position: absolute; /* Ensure full-screen coverage */
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.login-form {
  background-color: rgba(151, 126, 216, 0.9);  /* Slight transparency */
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  text-align: center;  /* Ensure text inside is centered */
  margin: 0 auto; /* Horizontally center the form */
}

.login-form h2 {
  color: #ffffff;
  margin-bottom: 20px;
  font-size: 2rem;
}

.login-form input {
  width: 95%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #943780;
  border-radius: 4px;
  font-size: 16px;
}

.login-form input:hover {
  border-color: #ffffff;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

.login-form button {
  width: 100%;
  padding: 12px;
  background-color: #c55ba1;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.login-form button:hover {
  background-color: #84397e;
  transform: scale(1.05);
}

/* Link Styling for "Let's Start" */
.start-link {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 24px;
  font-size: 1.2rem;
  color: #ffffff;
  background-color: rgb(178, 17, 146);
  border-radius: 8px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.start-link:hover {
  background-color: #42a150;
  color: white;
  transform: scale(1.05);
}


.login-back-button {
  position: absolute;
  top: 10px;
  left: 10px;
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.login-back-button:hover {
  color: #ffffff;
  transform: scale(1.1);
}



