.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url('/public/S_L.png');  /* Background image added */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  position: absolute; /* Ensure full-screen coverage */
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.login-form {
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgb(194, 111, 199);
  width: 100%;
  max-width: 500px;
  text-align: center;  
  margin: 0 auto; 
}

.login-form h2 {
  color: #000000;
  margin-bottom: 20px;
  font-size: 2rem;
}

.login-form input {
  width: 95%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #943780;
  border-radius: 4px;
  font-size: 16px;
}

.login-form input:hover {
  border-color: #ffffff;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

.login-form button {
  width: 100%;
  padding: 12px;
  background-color: #c55ba1;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.login-form button:hover {
  background-color: #84397e;
  transform: scale(1.02);
}

.login-back-button {
  position: absolute;
  top: 10px;
  left: 10px;
  text-decoration: none;
  color: #000000;
  font-size: 18px;
  font-weight: bold;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.login-back-button:hover {
  color: #000000;
  transform: scale(1.1);
}


.start-link {
  display: inline-block;
  margin-top: 15px;
  padding: 12px 20px;
  background-color: #918b8b;
  color: white;
  font-size: 16px;
  border-radius: 4px;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.start-link:hover {
  background-color: #000000;
  transform: scale(1.05);
}

.lauth-quote {
  position: fixed;
  bottom: 100px;
  left: 70%;
  transform: translateX(-50%);
  color: rgb(0, 0, 0);
  font-style: italic;
  font-size: 18px;
  opacity: 0.8;
}
.lauth{
  position: fixed;
  bottom: 70px;
  left: 75%;
  transform: translateX(-50%);
  color: rgb(0, 0, 0);
  font-style: italic;
  font-size: 18px;
  opacity: 0.8;
}
