.task-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: -30px;
  width: 100%;
  height: auto;
  font-family: Arial, sans-serif;
  padding: 30px;
  background-image: url('/public/A_T.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow-y: auto;
  transition: background 0.5s ease-in-out;
  gap: 30px;
}

.task-list-container:hover {
  transition: filter 0.5s ease-in-out;
}

.task-list-heading1 {
  margin-top: 30px;
  font-size: 32px;
  margin-bottom: 10px;
  font-style: italic;
  color: rgb(255, 255, 255);
}

.task-list-heading2 {
  margin-top: 30px;
  font-size: 32px;
  font-style: italic;
  margin-bottom: 10px;
  color: rgb(255, 255, 255);
}

.task-table {
  width: 80%;
  max-width: 800px;
  margin-top: 20px;
  border-collapse: collapse;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.task-table th, td {
  padding: 12px;
  text-align: left;
  border: 1px solid #000000;
}

.task-table th {
  background-color: #000000;  
  color: rgb(255, 255, 255);
  font-size: 20px;
}

.pending-task td {
  background-color: #f6dbb2;
}

.completed-task td {
  background-color: #9ff0b2;
}

.pending-task:hover td{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
}

.completed-task td{
  background-color: #d4edda;
  transition: all 0.2s ease-in-out;
}


.task-table tr:hover {
  background-color: rgba(0, 0, 0, 0.1); 
  transform: scale(1.005);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
  transition: all 0.2s ease-in-out;
}


button.delete {
  background-color: #d17575;
  color: white;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.03s ease-in-out;
}

button.delete:hover {
  background-color: #cc0000;
  transform: scale(1.05);
}
